* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #952323;
    color: #F2E8C6;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 700px;
    background: #F2E8C6;
    color: #272829;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}

.container h1 span {
    color: #FFBB5C;
    border-bottom: 4px solid #FFBB5C;
    padding-bottom: 7px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.display input {
    border: none;
    outline: none;
    font-size: 24px;
    flex-grow: 1;
    padding: 5px;
}

.container button {
    border: 0;
    outline: 0;
    background: #FFBB5C;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px auto; /* Center the button vertically */
    transition: background-color 0.2s ease;
}

.container button img {
    width: 20px;
    margin-right: 5px;
}

.container button:hover {
    background-color: #FFA03F;
}

.options {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.options label {
    font-weight: bold;
}

.options input[type="checkbox"],
.options input[type="radio"] {
    margin-right: 10px;
}
